# Firebaseの設定ファイル
# [ XCodeで操作 ]
# Build phases -> New run script を選択して新しい Run Script を追加
# 名前をわかりやすいように Select GoogleService-Info.plist に変更
# スクリプトを記述
# Output Files に $(SRCROOT)/GoogleService-Info.plist を追加
# 既存Scriptである Copy Bundle Resources より上に移動
# \cp -f ${SRCROOT}/EnvFiles/GoogleService-Info-${flavor}.plist ${SRCROOT}/GoogleService-Info.plist
GoogleService-Info-dev.plist
GoogleService-Info-stg.plist
GoogleService-Info-prd.plist